OPENCRX_USERNAME=guest
OPENCRX_PASSWORD=guest
PORT=3000
CAMUNDA_URL=http://localhost:8080/engine-rest
MONGO_URL=mongodb://localhost:27017/your_db_name
ORANGEHRM_BASE_URL=http://your-orangehrm-host/web/index.php/api/v2
ORANGEHRM_ACCESS_TOKEN=some-token-from-orangehrm